
Aurelien Geron - Hands On Machine Learning with Scikit-Learn and TensorFlow - 2017/

Coursera_Machine_Learning/_974fa7509d583eabb592839f9716fe25_Lecture1\.pdf

Coursera_Machine_Learning/Octave-master_homeworks\.zip

Coursera_Machine_Learning/machine-learning-ex1\.zip

Coursera_Machine_Learning/machine-learning-ex2\.zip

Coursera_Machine_Learning/machine-learning-ex3\.zip

Coursera_Machine_Learning/machine-learning-ex4\.zip

Coursera_Machine_Learning/machine-learning-ex5\.zip

Coursera_Machine_Learning/machine-learning-ex6\.zip

Coursera_Machine_Learning/machine-learning-ex7\.zip

Coursera_Machine_Learning/ml-class-assignments-master\.zip

Coursera_Machine_Learning/ml-class-assignments-master/

Pandas/tutorial_1p/\.ipynb_checkpoints/

Pandas/tutorial_1p/wine-reviews\.zip

Pandas/tutorial_1p/advanced-pandas-exercises\.zip

Pandas/tutorial_1p/database\.sqlite

Pandas/tutorial_1p/learntools/

Pandas/tutorial_1p/pitchfork-data\.zip

Pandas/tutorial_1p/publicassistance\.zip

Pandas/tutorial_1p/winemag-data_first150k\.csv

Pandas/tutorial_1p/winemag-data-130k-v2\.csv

Pandas/tutorial_1p/winemag-data-130k-v2\.json
